@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<address>
    <strong>Contato:</strong> 
    <a href="mailto:cscj.contato@gmail.com">cscj.contato@gmail.com</a><br />
</address>
